.portada {
  height: 320px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}